.main_bar__chat__top_items    
  .main_bar__chat__top_items__top    
    .main_bar__chat__top_items__top__name
      = message.user.name
    .main_bar__chat__top_items__top__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main_bar__chat__top_items__message
    - if message.content.present?
      %p.main_bar__chat__top_items__message__content
        = message.content
    = image_tag message.image.url, class: 'main_bar__chat__top_items__message__image' if message.image.present?
