* {
  box-sizing: border-box;
}

a{
  color: #ffffff;
  text-decoration: none;
}

$color-text: #ffffff;
$color-blue: #38aef0;

@mixin position() {
  display: flex;
  align-items: center;
}

.wrapper{
  display: flex;
}
 

.side_bar  {
  height: 100vh;
  width:300px;
  &__user_name{
    height: 100px;
    background-color:#253141;

    @include position();

    flex-direction: column;
    justify-content: center;
    &__top_items{
      height: 20px;
      width: 260px;

      display: flex;
      align-items: center;

      justify-content: space-between;      
      line-height: 20px;
      color: $color-text;
      font-size: 16px; font-weight: bold;
      &__name{
        height: 20px;
        width: 60px;
      }
      &__icon {
        height: 20px;
        width: 60px;
        display: flex;
        justify-content: flex-end;  
        &__group{
        margin-left: 5px;
        }
        &__group:visited{
        color: $color-text;
        }
      }           
    }
  }
  &__user_group{
    height:calc(100vh - 100px);
    background-color: #2f3e51;
    &__top_item{
      height: 105px;

      @include position();  

      flex-direction: column;
      position: relative;
      color: $color-text;
      overflow: scroll;
   
      &__group{
        height: 20px;
        width: calc(300px - 40px);
        font-size: 15px;
        line-height: 20px;
        margin-top: 20px;
        cursor: pointer;
      }

      &__current_message{
        height: 20px;
        width: calc(300px - 40px);
        font-size: 11px;
        line-height: 20px;
        margin-top: 5px;
      }
    }
  }
}     

.main_bar {
  height: 100vh;
  width:calc(100vw - 300px);
  &__current_group {
    height: 100px;
    background-color: $color-text;
    border-bottom: solid #eeeeee;
    &__top_items{
    display: flex;
    justify-content: space-between;
      &__group{
      height: 100px;
      width: 800px;
      margin-left: 40px;
      position: relative;      
        &__name{
        height: 35px;
        color: #333333;
        font-size: 20px;
        position: absolute;
        top: 35px;
        line-height: 35px;
        }
        &__member{
        height: 15px;
        color: #999999;
        font-size: 12px;
        position: absolute;
        bottom: 0;        
        line-height: 10px;
        }
      }
      &__edit{
      height: 100px;
      width: 72px;
      margin-right: 40px;
        &__icon{
        height: 40px;
        width: 72px;
        margin: 28px auto;
        font-size: 16px;
        line-height: 38px;
        text-align: center;
        color: $color-blue;
        border: 1px solid; border-color: $color-blue;
        text-decoration: none;
        }
      }
    }
  }
  &__chat{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    overflow: scroll;
    padding: 46px 40px;
    
    &__top_items{
      padding-bottom: 40px;

      img {
        max-width: 300px;
      }

      &__top{
        display: flex;
        width:calc(100vw - 300px - 40px);         
        margin-bottom: 10px;
        
        &__name{
          height: 20px;
          font-size: 16px;font-weight: bold;
          line-height: 16px;
          color:#333333;   
          margin-bottom: 1;      
        }
        &__date{
          height: 15px;  
          margin-left: 5px;  
          font-size: 12px;
          line-height: 12px;
          color: #999999; 
        }
      }  
      &__message{
        height: 15px;
        margin-top: 12px;
        font-size: 14px;
        line-height: 14px; 
        color: #434A54;
      }    
      &__content{
        margin-bottom: 0px;
        margin-top: 0;        
      }        
      &__image{
           
      }
    }
  }

  &__message{
    height: 90px;
    width: 100%;
    background-color:#d2d2d2;
    position: relative;
    padding: 20px 40px;
    &__top_item{
      display: flex;    
      &__message{
        position: relative;
        width: 100%;
        margin-right: 15px;
        background-color: $color-text;     
        &__form{
          height: 50px ;
          width: 100% ;         
          padding: 0px 40px 0px 10px;
          border:solid 0px;  
        }        
        &__icon{          
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__body{
            font-size: 24px;
            margin-right: 10px;
            padding-top: 3px;
          }
          &__image{
            display: none;          
          }
        }
      }    
      &__send{
        height: 50px;
        width: 100px;
        
        background-color: $color-blue;
        text-align: center;
        line-height: 50px;
        color: $color-text;      
      }      
    }
  }
}
